<h1 style='color:white;font-size:25px;font-weight:700;margin-top:30px'>Розвязування задачі на основі Pandas</h1>

In [2]:
import pandas as pd

<h2 style = 'color:#white;font-size:20px'>1. Імпорт даних та читання <b><i>csv</i></b> файлу </h2>

In [3]:
df = pd.read_csv('C:/Users/den/Desktop/pandas/pandas-learn/data/uberData.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

<h2 style = 'color:#white;font-size:20px'>2. Визиваємо процедуру яка описує к-сть та інші числові значення для числових показників </h2>

In [4]:
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,139500.000000,102000.000000,10500.0,27000.0,9000.0,102000.000000,102000.000000,93000.000000,93000.000000
mean,8.456352,29.149636,1.0,1.0,1.0,508.295912,24.637012,4.230992,4.404584
std,3.773564,8.902577,0.0,0.0,0.0,395.805774,14.002138,0.436871,0.437819
min,2.000000,10.000000,1.0,1.0,1.0,50.000000,1.000000,3.000000,3.000000
25%,5.300000,21.600000,1.0,1.0,1.0,234.000000,12.460000,4.100000,4.200000
50%,8.300000,28.800000,1.0,1.0,1.0,414.000000,23.720000,4.300000,4.500000
75%,11.300000,36.800000,1.0,1.0,1.0,689.000000,36.820000,4.600000,4.800000
max,20.000000,45.000000,1.0,1.0,1.0,4277.000000,50.000000,5.000000,5.000000

<h2 style = 'color:#white;font-size:20px'>3. Викликаємо процедуру для перевірки пустих значень</h2>

In [5]:
df.isna().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

<h2 style = 'color:#white;font-size:20px'>4. Найбільш бажаний спосіб оплати? </h2>

In [32]:
df['Payment Method'].value_counts()

Payment Method
UPI            45909
Cash           25367
Uber Wallet    12276
Credit Card    10209
Debit Card      8239
Name: count, dtype: int64

<h2 style = 'color:#white;font-size:20px'>5. Найкращий місяць за сумою доходу </h2>

In [18]:
df["Date"] = pd.to_datetime(df["Date"])

df['Month'] = df["Date"].dt.month

df.groupby('Month')["Booking Value"].mean().sort_values(ascending=False)

Month
3     520.535175
12    514.778647
11    512.233530
10    509.266399
6     508.913776
4     508.784482
2     507.836132
9     506.676167
1     505.100601
7     502.791375
8     501.598326
5     501.426962
Name: Booking Value, dtype: float64

<h2 style = 'color:#white;font-size:20px'>6. Найдовший маршут та скільки було заплачено за нього</h2>

In [31]:
df [   
    
    (df['Ride Distance'] == df['Ride Distance'].max()) &
    (df['Booking Value'] == df.loc[df['Ride Distance'] == df['Ride Distance'].max(), 'Booking Value'].max())
]

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method,Month
119632,2024-12-15,19:37:24,"""CNR1476833""",Completed,"""CID3994793""",Auto,Faridabad Sector 15,Ardee City,14.7,35.9,...,NaN,NaN,NaN,NaN,1700.0,50.0,3.8,4.1,Uber Wallet,12

<h2 style = 'color:#white;font-size:20px'>7. Статус виконання та скільки замовлень було не виконано</h2>

In [51]:
df.groupby('Incomplete Rides Reason')['Booking Value'].sum()

Incomplete Rides Reason
Customer Demand      1537913.0
Other Issue          1515914.0
Vehicle Breakdown    1531782.0
Name: Booking Value, dtype: float64

<h2 style = 'color:#white;font-size:20px'>8. Куди найчастіше подорожують та скільки на цьому заробляє UBER</h2>

In [60]:
most_common_location = df['Drop Location'].value_counts().idxmax()
total_value = df[df['Drop Location'] == most_common_location]['Booking Value'].sum()

result = pd.DataFrame({
    'Drop Location': [most_common_location],
    'Total Booking Value': [total_value]
})

result

  Drop Location  Total Booking Value
0        Ashram        457425.334853